/*Custom styles PAVI. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden
}

.simplebar-scrollbar {
    background-color: transparent; /* Color de la barra de desplazamiento */
    border: none;
    size: 3px; /* Ancho de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
    position: fixed; /* Posición fija */
    right: -1; /* Alineado al borde derecho */
    overflow: hidden;
    
}

.simplebar-scrollbar:before {
    background-color: #ee6d4d; /* Color de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
}

.simplebar-scrollbar:hover {
    background-color: #ee6d4d; /* Color de la barra de desplazamiento */ /* Bordes redondeados de la barra de desplazamiento */
}


 

.background {
    position: relative;
    background-image: radial-gradient(circle at center, transparent 30%, rgb(14, 25, 49) 98%), url('assets/svg/bg.svg');
    height: 100%;
    width: 100%;
    z-index: -20;
    background-attachment: fixed;
}

.login-panel {
    font-family: "Montserrat", sans-serif;
    position: relative;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 20px;
    margin-top: 22%;
    box-sizing: border-box;
    background-color: transparent; /* Color azul marino con 60% de opacidad */
    border-radius: 10px;
    z-index: 20;
}


@media only screen and (max-width: 480px) {
    .login-panel {
        width: 80%; /* Ajustar el ancho al 80% del viewport */
        margin-top: 85%; /* Reducir el margen superior */
        padding: 10px; /* Reducir el relleno */
        font-size: 14px; /* Ajustar el tamaño de fuente */
    }

    .footer{
        text-align: center;
    }
    .logo-img {
        scale: 300%;
        
    }
    .form-control {
        padding:13px;
        font-size:1em;
        width: 110%;
    }

    .textol1{
        font-size: 1em;

    }
    .textol{
        font-size: 1em;
    }

    .botonlogin{
        padding-top:20px;
        padding-left:10px;
        padding-right:10px;
    }

    .loader{
        scale: 2;
    }

    .logo-img2{
        width: 13%;
    }

    .profile-content {
        left: 7%;
        height: 20%; /* Reducir la altura a la mitad */
        margin-top: 10%; /* Ajustar el margen superior para centrarlo */
    }

  

   


    

    
}

.bodylogin {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}


.loginbg {
    top: 0;
    left: 0;
    position: absolute;
    height: 300px;
    width: 300px;
    fill: #123456; /* Cambia esto al color que desees */
    filter: blur(4px);
    z-index: -19;
    animation: moveRotate 5s linear infinite; /* Ajusta esto al nivel de desenfoque que desees */
}   

.lensflare {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background: url('loginbg.png') no-repeat center center fixed; 
    z-index: -19;
    filter: blur(10px);
    opacity: 0.8;
}




.titulo {
    text-align: center;
    margin-bottom: 2em;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: -2%;
}



.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.texto {
    
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    
}

.textol {
    font-size: 0.8em;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 0.1em;

}

.textol1 {
    display: block;
    font-size: 0.7em;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 0.07em;

}


.form-control {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    outline: none;
    width: 100%;
    border-radius: 10px;
    height: 90%;
    padding: 20px;
    border: none;
    box-shadow: 3px 3px 0px rgba(51, 2, 51, 0.116);
    box-sizing: border-box;
    background: linear-gradient(to right, #b2dcdd, rgba(136, 121, 145, 0.329));
    color: white !important;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
}
.form-control::placeholder { /* Selecciona los marcadores de posición de los elementos con la clase .form-control */
    color: white; /* Cambia el color del texto del marcador de posición a blanco */
}

@keyframes border-color-change {
    0%   {box-shadow: 0 0 0 2px #3D5A80;}
    20%  {box-shadow: 0 0 0 2px #EE6C4D;}
    50% {box-shadow: 0 0 0 2px white;}
    80% {box-shadow: 0 0 0 2px #ee6c4d;}
    100% {box-shadow: 0 0 0 2px #3d5a80;}
}

.form-control:focus {
    outline: none;
    animation: border-color-change 3s infinite;
}

.form-control:hover {
    box-shadow: 0 0 0 2px #3D5A80;
    transition: border-color-change 3s infinite;
    animation: border-color-change 3s infinite;
}

.botonlogin {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    outline: none;
    width: 100%;
    border-radius: 10px;
    height: 90%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background:  #EE6C4D;
    color: white !important;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.5s, box-shadow 0.5s;
    box-shadow: 3px 3px 0px rgba(51, 2, 51, 0.116);
    z-index: 10;
}

.botonlogin:hover {
    transform: scale(1.1); /* Agrandar el botón un 10% */
    box-shadow: 5px 5px 0px rgba(51, 2, 51, 0.116); /* Agrandar la sombra de la caja */
}

.footer {
    font-family: "Montserrat", sans-serif;
    position: fixed;
    width: 100%;
    text-align: flex-start;
    color: white !important;
    font-size: 0.5em;
    font-weight: 100;
    padding: 10px;
    letter-spacing: 0.1em;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}


.footer a {
    color: white; /* Cambia el color del enlace a blanco */
    text-decoration: none; /* Elimina la línea debajo del enlace */
}

.footer a:hover {
    color: orange; /* Cambia el color del enlace a naranja al pasar el cursor sobre él */
}

.sidebar {
    position: fixed;
    top:10vh;
    left: -2vh;
    text-decoration: none;
    color: white;
    align-items: flex-start;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    width: 35vh;
    padding-bottom: 5%;
    border-radius: 20px;
    background-color: #3d5a8091;
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    box-shadow: 5px 5px 0px rgba(51, 2, 51, 0.116);
    height: auto  ;
    transform: translateX(-100%); /* Oculta la barra lateral por defecto */
    transition: transform 0.3s ease-out; /* Anima la transición */
}



.sidebar.active {
    transform: translateX(0); /* Muestra la barra lateral cuando tiene la clase active */
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    
}

.sidebar li {
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background: transparent; /* Fondo inicial */
    color: #000; /* Color del texto inicial */
    position: relative;
    overflow: hidden;
    transition: background 0.5s ease, color 0.5s ease; /* Transición para el fondo y el color del texto */
}

.sidebar li:hover {
    background: linear-gradient(to right, #EE6C4D, #ee6d4d00); /* Fondo con gradiente en hover */
    color: #fff; /* Opcional: Cambia el color del texto en hover */
}

.sidebar li {
    position: relative; /* Asegura que el contenido esté sobre el gradiente */
    z-index: 1; /* Asegura que el contenido esté sobre el fondo */
}







.sidebar .logo {
    padding: 15px;
    text-align: center;
}
.sidebar .nav {
    margin-top: 20px;
    justify-content: flex-start !important;
}
.sidebar .nav .nav-item .nav-link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
}
.sidebar .nav .nav-item .nav-link i {
    margin-right: 10px;
    justify-content: flex-start;
}
.sidebar .nav .nav-item.active a {
    color: #EE6C4D;
    font-weight: bold       ;
}

.sidebar .nav .nav-item .nav-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white; /* Color de texto blanco */
}

.sidebar .nav .nav-item .nav-link:hover {
    color: white;
    font-weight: 500; /* Color de texto naranja al pasar el ratón por encima */
}






.sidebar .nav {
    list-style-type: disc; /* Estilo de lista con viñetas */
    padding-left: 20px; /* Espacio a la izquierda para las viñetas */
}

.nav {
    display: flex;
    flex-direction: column;
    height: auto; /* Cambia a auto */
    overflow-y: auto; /* Permite el desplazamiento */
}

.nav-item {
    display: flex;
    flex: 1;

}

.sidebar-footer{
    scale: -1 !important;
}


.nav-link {
    display: block;
    width: 100%; /* O especifica un ancho fijo, como 200px */
    height: 4em; /* Ajusta esto al tamaño que prefieras */
    padding: 20px;
    box-sizing: border-box;
    text-align: flex-start; /* Centra el texto y el icono */
}

.burger-button {
    position: absolute; /* Necesario para que z-index funcione */
    z-index: 10001; /* Un valor mayor que el del navbar */
    /* tus otros estilos */
    font-size: 24px; /* Cambia esto al tamaño que prefieras */
    background: transparent;
    border: none;
    transition: background-position 0.5s;
    cursor: pointer;
    overflow: hidden;
    color: #ffffff; /* Cambia esto al color que prefieras */
}


.burger-checkbox {
    display: none; /* Oculta el checkbox */
}
.burger-button:focus {
    outline: none;
}
.burger-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200% auto;
    background-image: linear-gradient(45deg, #ff9d00, #ff5500);
    transition: transform 0.5s;
    z-index: -1;
    transform: translateX(-100%);
    pointer-events: none; /* Agregado para permitir clics a través del pseudo-elemento */
}
.burger-button:hover::before {
    transform: translateX(0); /* cambia la posición del fondo al pasar el ratón */
}
.logo {
    position: relative; /* Esto es necesario para que .logo-img se posicione en relación a .logo */
}
.logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -18;
    width: 50%; /* Ajusta esto al ancho que prefieras */
    height: auto; /* Esto mantendrá la relación de aspecto de la imagen */
    display: block; /* Esto eliminará cualquier espacio extra alrededor de la imagen */
}

.logo-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -18;
    width: 50%; /* Ajusta esto al ancho que prefieras */
    height: auto; /* Esto mantendrá la relación de aspecto de la imagen */
    display: block; /* Esto eliminará cualquier espacio extra alrededor de la imagen */
}


/* Estilos para la pantalla de carga */
#loading-screen1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, transparent 30%, rgb(14, 25, 49) 98%), url('assets/svg/bg.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    clip-path: circle(100%);
    animation: fade-in 0.5s;
}
.loader {
    width: 6%;
    height: auto;
}

#loading-screen {
    white-space: nowrap;
}
/* Estilos para el texto de carga */
#loading-screen {
    font-size: 1em;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}




#content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 2s ease-in-out, opacity 2s ease-in-out;
}


/* Estilos generales para la barra de navegación */
.navbar {
    background-color: #333; /* Cambia esto al color que prefieras */
}

/* Estilos para los elementos de la barra de navegación */
.nav-item {
    margin-right: 20px; /* Añade un margen a la derecha de cada elemento */
}

/* Estilos para los enlaces de la barra de navegación */
.nav-link {
    color: #fff; /* Cambia esto al color que prefieras */
}

/* Estilos para los enlaces de la barra de navegación al pasar el ratón */
.nav-link:hover {
    color: #ddd; /* Cambia esto al color que prefieras */
}

/* Estilos para los menús desplegables de la barra de navegación */
.dropdown-menu {
    background-color: #333; /* Cambia esto al color que prefieras */
}

/* Estilos para los enlaces de los menús desplegables */
.dropdown-item {
    color: #fff; /* Cambia esto al color que prefieras */
}

/* Estilos para los enlaces de los menús desplegables al pasar el ratón */
.dropdown-item:hover {
    color: #ddd; /* Cambia esto al color que prefieras */
    background-color: #555; /* Cambia esto al color que prefieras */
}

/* Estilos para el formulario de búsqueda */
.form-inline .form-control {
    margin-right: 10px; /* Añade un margen a la derecha del campo de búsqueda */
}

/* Estilos generales para la navbar */
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    padding-right: 1%;
}


/* Estilos de la lista de navegación */
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


.navigation li {
    color: #fff;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}

.navigation a {
    color: white;
}








.searchbutton {
    /* Estilos iniciales del botón */
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px ;
    font-size: 10%;
    transition: background-color 0.3s ease;
}

.searchflex{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.searchbar {
    flex: 1; /* Permite que la barra de búsqueda ocupe el espacio disponible */
    padding: 5px; /* Añade relleno alrededor del input */
    font-size: 0.8rem; /* Tamaño de fuente */
    border-radius: 5px; /* Borde redondeado */
    margin-right: 10px; /* Espacio a la derecha del input */
    font-family: 'Montserrat', sans-serif; /* Fuente */
    border: none;
}

.searchbar:focus {
    outline: none; /* Quita el borde de enfoque por defecto */
    animation: border-color-change 3s infinite;
}




.searchbutton :hover {
    /* Estilos del botón cuando el mouse está sobre él */
    background-color: #EE6C4D;
    scale: 1.3;
    border-radius: 4px;
}
#navbarNav a :hover {
    /* Estilos del botón cuando el mouse está sobre él */
    background-color: #EE6C4D;
    scale: 1.3;
    border-radius: 4px;
}




.profile-container {
    position: relative;
    display: flex;
    justify-content: center; /* Centra los elementos internamente horizontalmente */
    align-items: center; /* Centra los elementos internamente verticalmente */
    border-radius: 6px;
    max-width: 80%;
    height: 80%;
    width: 60%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    margin: 10px;
}



.profile-content {
    position: relative; /* Posición relativa para alinear correctamente los pseudo-elementos */
    display: flex; /* Ensure flexbox is used */
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 80%; 
    min-width: 200px;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.767), rgba(253, 87, 46, 0)); /* Gradiente desde #fd572ea2 (opaco) hasta transparente */
    border-radius: 10px;
    transition: transform 0.4s ease-in-out, height 0.4s ease-in-out; /* Add transition */
    max-height: 80%; /* Limit height to enable scrolling */
    min-height: 60;



    /* Pseudo-elemento para la sombra con gradiente */
    &::before {
        content: ''; /* Contenido vacío requerido para pseudo-elemento */
        position: absolute; /* Posición absoluta para superponer encima del contenedor */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom,rgba(44, 1, 73, 0.95), rgba(62, 3, 117, 0)); /* Gradiente para la sombra */
        border-radius: 10px; /* Misma bordes que el contenedor principal */
        z-index: -1; /* Coloca detrás del contenido principal */
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; /* Transición para la opacidad */
        opacity: 0; /* Inicialmente oculto */
    }

    /* Mostrar pseudo-elemento al hacer hover */
    &:hover::before {
        opacity: 1; /* Mostrar sombra al hacer hover */
    }
}
.profile-content:hover {
    transform: scale(1.1); /* Escala del 110% al hacer hover */
    height: 120%; /* Aumento de la altura al hacer hover */
}

.parent-container {
    display: none;
    
}

.perfil-page {
    position: relative  ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99.7vw;
    height: 95vh;
    margin: 0 auto;
    top: 0  ;
    
    overflow-y: hidden; /* Cambia la altura a 80% del alto de la ventana */
}

@media screen and (max-width: 480px) {
    #navbarNav {
        display: flex;
    }
}


.parent-container {
    position: relative;
    border-radius: 4px;
    width: 95%;
    padding: 15px;
    height: 70vh;
    margin: 0 auto  ;
    background:  transparent;
}
  
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-info-details {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  #edit-profile-btn {
    position: absolute;
    margin-left: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 0;
    top: 0;
    z-index: 1000;
    
  }

  #edit-profile-btn:hover{
    scale: 1.2;
    color: #fcae9b;
  }

  .profile-pic {
    width: 150px; /* Ajusta este valor para cambiar el tamaño de la imagen */
    height: 150px; /* Ajusta este valor para cambiar el tamaño de la imagen */
    clip-path: circle(50% at center); /* Recorta en forma de círculo */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */
}
  

  .form-editor-profile {
    display: flex;
    flex-direction: column; /* Alinear los divs en columna */
}

.form-editor-profile div {
    position: relative;
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos dentro de cada div */
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out; /* Transición para el cambio de tamaño, sombra y fondo */
}

.form-editor-profile div:focus-within {
    transform: scale(1.05) translateY(-10px);
    z-index: 30;
    box-shadow: 3px 3px 0px rgba(51, 2, 51, 0.116);
    background: #0b27427e;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-shadow:1px 1px 2px #3c00644b;
}

.form-editor-profile div input,
.form-editor-profile div textarea {
    flex: 1; /* Ocupa todo el espacio disponible horizontalmente */
    text-align: center;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 3px 3px 0px rgba(51, 2, 51, 0.116);
    box-sizing: border-box;
    background: linear-gradient(to right, #b2dcdd, rgba(136, 121, 145, 0.329));
    color: white !important;
    letter-spacing: 0.1em;
    margin: 0 10px; /* Margen a los lados de cada input/select/textarea */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición para el cambio de tamaño y sombra */
}

.form-editor-profile div input:focus,
.form-editor-profile div textarea:focus {
    padding-top: 20px ;
    padding-bottom: 20px ;
    
}


/* Estilos del contenedor del botón */
.button-container {
    display: flex;
    font-weight: 500 !important;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 10vh;           /* Ajustar la altura del contenedor según sea necesario */
  }
  
  /* Estilos del botón */
  .guardar-button {
    background-color: #EE6C4D; /* Color de fondo del botón */
    color: white;              /* Color del texto */
    border: none;      
    font-family: 'Montserrat', sans-serif;        /* Sin borde */
    border-radius: 4px;        /* Bordes redondeados */
    padding: 10px 20px;        /* Espaciado interno del botón */
    font-size: 16px;           /* Tamaño de la fuente */
    cursor: pointer;           /* Cambiar el cursor al pasar sobre el botón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452); /* Sombra del botón */
    transition: scale 0.2s; /* Transición para cambios de color y sombra */
  }
  
  .guardar-button:hover {
    scale: 1.2;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra al pasar el ratón */
  }
  
  .guardar-button:active {
    background-color: #03dac5; /* Color de fondo al hacer clic */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Sombra al hacer clic */
  }
  
  .guardar-button:focus {
    outline: none; /* Quitar el borde de enfoque por defecto */
    box-shadow: 0 0 0 3px rgba(98, 0, 234, 0.5); /* Añadir un contorno de enfoque */
  }





  #testForm {
    transition: transform 0.8s ease; /* Transición suave de 0.3 segundos */
}

.transition-slide {
    transition: transform 0.3s ease;
}

#progress-bar {
    position: absolute;
    width: 80%; /* Ancho completo */
    background-color: transparent; /* Color de fondo */
    height: 2px; /* Altura de la barra */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio inferior */
    top: 4%;
}

#progress {
    height: 100%; /* Altura completa */
    background-color: white; /* Color de la barra de progreso */
    border-radius: 4px; /* Bordes redondeados */
    transition: width 0.3s ease-in-out; /* Animación de transición suave */
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.vocac-page {
    position: relative  ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99.7vw;
    height: 95vh;
    margin: 0 auto;
    top: 0  ;
    
    overflow-y: hidden; /* Cambia la altura a 80% del alto de la ventana */
}

.notas-page {
    position: relative  ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99.7vw;
    height: 95vh;
    margin: 0 auto;
    top: 0  ;
    font-size: smaller;
    /* Cambia la altura a 80% del alto de la ventana */
}

.notas-page h1{
    font-size: medium;
    font-weight: 700;
    letter-spacing: 20%;
}

.notas-page th{
    font-size: medium;
    font-weight: 600;
    letter-spacing: 20%;
    text-transform: uppercase;
    padding-bottom: 10px;
}



.notas-page td{
    text-transform: capitalize;
    font-size: smaller;
    padding-bottom: 10px;
}

.notas-page input{
    border-radius: 5%;
    border: none;
    width: 5em;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    color: #242424;
}

.notash1{
    position: relative;
    text-align: center ;
    top: 0;
    text-transform: uppercase;
}

.notas-btn1{
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center ;
    top: 0;
    width: 5em;

}

.notas-page button {
    background-color: transparent; /* Color de fondo del botón */
    color: white;              /* Color del texto */
    border: none;      
    font-family: 'Montserrat', sans-serif;        /* Sin borde */
    border-radius: 4px;        /* Bordes redondeados */
    padding: 10px 20px;        /* Espaciado interno del botón */
    font-size: 30px;           /* Tamaño de la fuente */
    cursor: pointer;           /* Cambiar el cursor al pasar sobre el botón */
    scale: 1.5;
    transition: scale 0.2s; /* Transición para cambios de color y sombra */
  }
  
  .notas-page button:hover {
    scale: 1.2;
     /* Sombra al pasar el ratón */
  }
  
  
  
  .notas-page button:focus {
    outline: none; /* Quitar el borde de enfoque por defecto */
     /* Añadir un contorno de enfoque */
  }


.vocac-container {
    position: relative;
    display: flex;
    justify-content: center; /* Centra los elementos internamente horizontalmente */
    align-items: center; /* Centra los elementos internamente verticalmente */
    border-radius: 6px;
    max-width: 80%;
    height: 70%;
    width: 60%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.767), rgba(253, 87, 46, 0)); /* Gradiente desde #fd572ea2 (opaco) hasta transparente */ /* Fondo con color sólido semi-transparente */
}

.notas-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra los elementos internamente verticalmente */
    align-items: center; /* Centra los elementos internamente horizontalmente */
    border-radius: 6px;
    max-width: 90%;
    height: 75%;
    width: 80%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.767), rgba(253, 87, 46, 0));
    /* Gradiente desde #fd572ea2 (opaco) hasta transparente */ /* Fondo con color sólido semi-transparente */
}

/* Estilos generales que aplican a todos los contenedores */
.notas-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    max-width: 90%;
    height: 75%;
    width: 80%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.767), rgba(253, 87, 46, 0));
    /* Gradiente desde #fd572ea2 (opaco) hasta transparente */ /* Fondo con color sólido semi-transparente */
}

.notas-container .row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.notas-container .item {
    margin: 5px;
    padding: 10px;
  
    border-radius: 6px;
    text-align: center;
    flex: 1;
}

input[type="number"]:focus {
    font-family: 'Montserrat', sans-serif;
    scale: 1.1;
    outline: none;
    
}

.editpos {
    position: absolute;
    top: 0;
    right: 0;
    scale: 0.7;
}

.notas-container .item.large {
    flex: 2; /* Elementos grandes ocupan el doble de espacio */
     /* Fondo semi-transparente */
}

.notas-container .item.large table{
    width: 70%;
}
button a {
    color: white;
    text-decoration: none;

}

.notas-page ul li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 10px; /* Ajusta el espacio entre elementos de la lista */
    padding-bottom: 10px; /* Espacio inferior para la línea */
    text-transform: uppercase;
    border-bottom: 2px solid #323f6471;
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.h1position{
    position: relative;
    width: 100%;
    
}

.pnotasTitle{
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.ulborder {
    position: relative; /* Necesario para que los elementos hijos posicionados absolutamente se ajusten a este contenedor */
    padding: 5%; /* Ajusta el padding según sea necesario */
    background-color: transparent; /* Fondo del contenedor */
    border: 2px solid #323f6471; /* Borde del contenedor */
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%); /* Esquinas recortadas */
}

.tablepos{
    width: 100%;
}

ul.materias li {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.notas-container p {
    padding-bottom: 15px;
    top: 0;
}



.notas-container .item.small {
    flex: 0.25; /* Elemento pequeño ocupa la mitad de espacio */
    
}


.vocac-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 85%;
    min-width: 200px;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out, height 0.4s ease-in-out;
    max-height: 80%;
    min-height: 60px; /* Altura mínima asegurada */
    overflow-y: hidden; /* Habilitar scroll vertical si el contenido excede el tamaño */
    width: 100%; /* Establecer ancho al 100% del contenedor padre */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

.pregunta {
    padding: 10px; /* Espacio interno alrededor del contenido de la pregunta */
    margin-bottom: 20px; /* Espacio entre preguntas */
    width: 100%; /* Ancho completo */
    
}


.pregunta p {
    font-size: 16px; /* Tamaño de fuente del texto de la pregunta */
    line-height: 1.5; /* Espaciado entre líneas */
    margin-bottom: 10px; /* Espacio inferior */ 
    font-weight: 500;
}

/* Ocultar los checkboxes originales */
.pregunta input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/* Estilo personalizado para el contenedor del checkbox */
.pregunta input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-weight: 300;
}

/* Crear el círculo */
.pregunta input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #fd572e; /* Cambia el color del borde aquí */
    border-radius: 50%;
    background: white;
}

/* Crear el check */
.pregunta input[type="checkbox"]:checked + label::after {
    content: '\2714'; /* Carácter Unicode para el tick */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(1.2); /* Aumentar el tamaño del tick */
    font-size: 24px;
    color: #3d5a80; /* Cambia el color del tick aquí */
    font-weight: bold; /* Aplica font-weight aquí */
    transition: all 0.3s ease-in-out; /* Transición suave para el tick */
    text-shadow: 
        -1px -1px 0 white,  
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white; /* Añade el contorno */
}

/* Estilizar el tick cuando no está seleccionado */
.pregunta label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    font-size: 24px;
    color: #3d5a80;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

/* Ajuste del espaciado entre las respuestas */
.pregunta label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.h1-test{
    font-weight: bold;
    font-size: 20px;
}

/* Estilo para el contenedor de botones */
.button-container {
    text-align: center; /* Centra los botones horizontalmente */
}

/* Estilo para los botones */
.prevButton, .nextButton, #submitBtn {
    position: relative;
    margin: 1px; /* Añade un margen entre los botones */
    align-items: center;
    justify-items: center;
    width: 50%;
    background-color: transparent; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    font-family: 'montserrat', sans-serif; /* Fuente */
    font-weight: bold;
    margin-top: 80%;
    margin-bottom: 80%;
    text-align: center;
    scale: 1.3;
    cursor: pointer; /* Cambia el cursor a la mano clickera */
    transition: transform 0.3s ease, color 0.3s ease; /* Transición suave para cambios de transformación y color */
    
}

.prevButton:hover {
    
    color: #fff; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.6); /* Escala ligeramente el botón al pasar el cursor */
}

/* Estilo para hover en .nextButton */
.nextButton:hover {
    
    color: #fff; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.6); /* Escala ligeramente el botón al pasar el cursor */
}

/* Estilo para hover en #submitBtn */
#submitBtn:hover {
    
    color: #fff; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.3); /* Escala ligeramente el botón al pasar el cursor */
}


#startButton {
    background:    #3d5a80;
    border-radius: 11px;
    width:         200px;
    height:        50px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    margin-top: 20%;
    font-family: 'montserrat', sans-serif;
    scale: 0.8;
}

.sigback{
    position: absolute;
    display: flex;           /* Utiliza flexbox para alinear elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */  
    right: 10%;   /* Ajusta el margen superior según sea necesario */
    height: 80%;
    width: 10%;

}

.sigbackbtn button {
    position: relative;
    justify-content: center;
    align-items: center;
    
    
}

.error-message {
    position: absolute;
    font-weight: bold;
    animation: blink-animation 2s infinite; /* Animación de parpadeo */
    color: #920000;
    letter-spacing: .15em;

    }

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.material-glass {
    background-color: #3d5a80; /* Color de fondo con transparencia */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Borde redondeado */
    transition: background-color 0.3s ease; /* Transición para el efecto de vidrio */

    /* Estilo de vidrio */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra */

    /* Efecto de profundidad */
    transform: translateZ(0);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.material-glass:hover {
    background-color: #3d5a80; /* Color de fondo al pasar el mouse */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}

.material-glass svg {
    vertical-align: middle;
    margin-left: 6px; /* Espacio entre el texto y el icono SVG */
}

#resultado-container{
    position: absolute;
    margin-top: 10px ;
    border-radius: 5%;
    background-color: #3d5a8083;
    padding: 3%;
    bottom: 0;
}


#resetBtn{
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 10px ;
    font-size: 10%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    outline: none;
    top: 0;
    right: 0;

}


#resetBtn:hover {
    
    color: #fff; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.3); /* Escala ligeramente el botón al pasar el cursor */
}

.alumnos-page {
    position: relative  ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99.7vw;
    height: 95vh;
    margin: 0 auto;
    top: 0  ;
    font-size: smaller;
    /* Cambia la altura a 80% del alto de la ventana */
}

.seccion-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra los elementos internamente verticalmente */
    align-items: center; /* Centra los elementos internamente horizontalmente */
    border-radius: 6px;
    max-width: 90%;
    height: 75%;
    width: 80%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;

    background: linear-gradient(to bottom, #3d5a80, #3d5a80c5, rgba(253, 87, 46, 0));
    /* Gradiente desde #fd572ea2 (opaco) hasta transparente */ /* Fondo con color sólido semi-transparente */
}

.seccion-card {
    width: 20%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.692), rgb(190, 54, 20));
    border-radius: 4%;
    box-shadow: 10px 10px 1px -1px rgba(20, 0, 20, 0.342);
    transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease, margin 0.3s ease; /* Ajustamos las transiciones */
    margin: 2%;
    padding: 2%;
    cursor: pointer;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.seccion-card.expanded li {
    flex-direction: column;
    display: block;
    justify-content: flex-start;
    width: 80%;
    min-width: 50%;
    height: 10%;
    border-radius: 2%;
    margin: 1%;
    
    font-size: 16px;
    padding: 2%;
    list-style-type: none;
    text-transform: uppercase;
    pointer-events: auto;
    cursor: pointer;
    background: linear-gradient(to right, #ff7f5fa2, #feb47b00); /* Gradiente hacia la derecha */
}
.seccion-card.expanded li:hover{
    width: 80%;
    height: 20%;
}   
.curso-item:hover{
    scale: 1.05;
    width: 100%;
    transition: transform 0.3s ease; 
}

.curso-item {
    transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
}

.seccion-card.expanded ul{
    

    width: 70%;
}

.seccion-card li{
    display: none;
}
.seccion-card.expanded {
    position: relative;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 1%;
    pointer-events: none;
    
    top: 0;
}

.curso-details {
    display: none; /* Ocultar por defecto */
}

.curso-details.expanded {
    display: block; /* Mostrar cuando se expande */
}



.seccion-card.hidden {
    transform: scale(0.5); /* Escala reducida para ocultar */
    opacity: 0; /* Oculta la tarjeta */
    margin: 0; /* Elimina el margen para que no ocupe espacio */
    display: none;
    pointer-events: none;
     /* Deshabilita los eventos de clic en las tarjetas ocultas */
}



.seccion-card h2{
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding-top: 55%;
   
}

.seccion-card:not(.expanded) h2 {
    font-size: 14px;
    text-align: center; /* Tamaño de fuente para elementos no expandidos */
}

.seccion-card.expanded h2{
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 10px;

}

.seccion-card:hover {
    
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}





#resetBtn2{
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 10px ;
    font-size: 10%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    outline: none;
    top: 0;
    right: 0;
    pointer-events: auto;
    z-index: 10000;

}

.seccion-card.expanded #resetBtn2 {
    display: block; /* Mostrar el botón solo cuando la tarjeta esté expandida */
}

#resetBtn2:hover {
    cursor: pointer;
    color: #fff; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.3); /* Escala ligeramente el botón al pasar el cursor */
    
}

/* Para pantallas de menos de 600px (móviles en orientación vertical) */
@media (max-width: 599px) {
    .seccion-container {
        justify-content: center;
        flex-direction: column; /* Cambia la dirección del flex a columna */
    }

    .seccion-card {
        width: 90%; /* Ocupa la mayor parte del ancho disponible */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
        margin: 5% 0; /* Ajusta el margen verticalmente */
    }

    .seccion-card.expanded {
        width: 90%; /* Ancho ajustado para pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        margin: 5% 0; /* Ajusta el margen verticalmente */
        min-height: 40%;
    }

    .seccion-card h2 {
        font-size: 18px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
        padding-top: 20%; /* Ajusta el padding */
    }

    #resetBtn2 {
        font-size: 12px; /* Ajusta el tamaño de la fuente del botón */
        padding: 5px; /* Ajusta el padding */
    }
}

/* Para pantallas entre 600px y 1024px (tabletas y dispositivos en orientación horizontal) */
@media (min-width: 600px) and (max-width: 1024px) {
    .seccion-container {
        flex-direction: row; /* Alinea las tarjetas en fila para pantallas medianas */
    }

    .seccion-card {
        width: calc(45% - 20px); /* Ajusta el ancho para permitir dos tarjetas por fila */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
        margin: 10px; /* Ajusta el margen */
    }

    .seccion-card.expanded {
        width: 80%; /* Ancho ajustado para pantallas medianas */
        height: auto; /* Ajusta la altura automáticamente */
        min-height: 40%;
    }

    .seccion-card h2 {
        font-size: 20px; /* Ajusta el tamaño de la fuente */
        padding-top: 10%; /* Ajusta el padding */
    }

    #resetBtn2 {
        font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
        padding: 8px; /* Ajusta el padding */
    }
}

/* Para pantallas mayores a 1024px (pantallas de escritorio y grandes) */
@media (min-width: 1024px) {
    .seccion-container {
        justify-content: center;
        flex-direction: row; /* Mantiene la dirección del flex en fila para pantallas grandes */
    }

    .seccion-card {
        width: calc(20% - 20px); /* Ancho ajustado para cuatro tarjetas por fila */
        height: 200px; /* Altura fija para mantener la consistencia */
        margin: 10px; /* Espacio entre las tarjetas */
    }

    .seccion-card.expanded {
        width: 80%; /* Ancho ajustado para pantallas grandes */
        height: auto; /* Ajusta la altura automáticamente */
        min-height: 40%;
    }

    .seccion-card h2 {
        font-size: 25px; /* Tamaño de fuente para pantallas grandes */
        padding-top: 5%; /* Ajusta el padding */
    }

    #resetBtn2 {
        font-size: 16px; /* Tamaño de fuente del botón */
        padding: 10px; /* Padding estándar */
    }
}




.tituloasig{
    font-size: large;
    position: relative;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5% ;
    
    
}

.cursos-container {
    
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor verticalmente */
    border-radius: 6px;
    max-width: 90%;
    height: 75%;
    width: 80%;
    padding: 10px; /* Añade padding para espacio interno */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto total */
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    background: linear-gradient(to bottom, #3d5a80, #3d5a80c5, rgba(253, 87, 46, 0));
}

.card-container-cursos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las cartas se envuelvan a la siguiente fila */
    gap: 4%; /* Espacio entre las cartas */
    
    width: 100%; /* Asegura que el contenedor de cartas ocupe todo el ancho del contenedor principal */
}

.cursos-card {
    flex: 0 0 calc(20%); /* Ajusta el ancho de las cartas para que haya 4 por fila con margen */
    height: 200px; /* Altura fija para evitar el estiramiento */
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.692), rgb(190, 54, 20));
    border-radius: 4%;
    box-shadow: 10px 10px 1px -1px rgba(20, 0, 20, 0.342);
    transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease, margin 0.3s ease;
    padding: 10px; /* Espacio interno dentro de cada carta */
    cursor: pointer;
    margin-bottom: 3%;
    text-align: center;
    font-size: large;
    font-weight: 500;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto total */
}

.cursos-card p{
    font-weight: 300;
    font-size: medium;
}

.cursos-card:hover {
    transform: scale(1.1); /* Efecto de escala en hover */
}

.cursos-card:hover {
    transform: scale(1.1); /* Efecto de escala en hover */
}

.seccion-card:hover{
    scale: 1.1;
}

/* Para pantallas de menos de 600px (móviles en orientación vertical) */
@media (max-width: 599px) {
    .tituloasig {
        font-size: 1.5em; /* Reduce el tamaño de la fuente para pantallas pequeñas */
        letter-spacing: 2%; /* Ajusta el espaciado de las letras */
    }

    .cursos-container {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        height: 75vh; /* Ajusta la altura para permitir el scroll */
        overflow-y: auto; /* Permite el scroll vertical */
        overflow-x: hidden; /* Evita el scroll horizontal */
    }

    .card-container-cursos {
        gap: 2%; /* Reduce el espacio entre las cartas */
        flex-direction: column; /* Coloca las cartas en una sola columna */
    }

    .cursos-card {
        flex: 0 0 calc(100% - 10px); /* Ocupa todo el ancho disponible */
        height: 150px; /* Ajusta la altura de las cartas */
    }

    .cursos-card p {
        font-size: small; /* Reduce el tamaño de la fuente en las cartas */
    }
}

/* Para pantallas entre 600px y 1024px (tabletas y dispositivos en orientación horizontal) */
@media (min-width: 600px) and (max-width: 1024px) {
    .tituloasig {
        font-size: 1.8em; /* Ajusta el tamaño de la fuente para tabletas */
        letter-spacing: 3%; /* Ajusta el espaciado de las letras */
    }

    .cursos-container {
        width: 90%; /* Ajusta el ancho del contenedor */
        height: 75vh; /* Ajusta la altura para permitir el scroll */
        overflow-y: auto; /* Permite el scroll vertical */
        overflow-x: hidden; /* Evita el scroll horizontal */
    }

    .card-container-cursos {
        gap: 3%; /* Ajusta el espacio entre las cartas */
    }

    .cursos-card {
        flex: 0 0 calc(33.333% - 10px); /* Ajusta el ancho de las cartas */
        height: 180px; /* Ajusta la altura de las cartas */
    }

    .cursos-card p {
        font-size: small; /* Ajusta el tamaño de la fuente en las cartas */
    }
}

/* Para pantallas mayores a 1024px (pantallas de escritorio y grandes) */
@media (min-width: 1024px) {
    .tituloasig {
        font-size: 2em; /* Tamaño de fuente para pantallas grandes */
        letter-spacing: 5%; /* Espaciado de las letras para pantallas grandes */
    }

    .cursos-container {
        width: 80%; /* Ancho del contenedor para pantallas grandes */
        height: 75vh; /* Ajusta la altura para permitir el scroll */
        overflow-y: auto; /* Permite el scroll vertical */
        overflow-x: hidden; /* Evita el scroll horizontal */
    }

    .card-container-cursos {
        gap: 4%; /* Espacio entre las cartas */
    }

    .cursos-card {
        flex: 0 0 calc(20% - 10px); /* Ancho de las cartas para pantallas grandes */
        height: 200px; /* Altura fija para las cartas */
    }

    .cursos-card p {
        font-size: medium; /* Tamaño de la fuente en las cartas */
    }
}



.edit-form {
    display: none;
}
.edit-button:checked ~ .edit-form {
    display: block;
}

.nombre_prof {
    background: linear-gradient(135deg, #ff5340,#e74c3c, #771005, #000000); /* Gradiente de color de fondo */
    -webkit-background-clip: text; /* Clip del fondo para el texto (webkit) */
    background-clip: text; /* Clip del fondo para el texto */
    color: transparent; /* Hacer el color del texto transparente para mostrar el gradiente */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 3em; /* Tamaño de la letra grande */
    font-weight: bold; /* Hace que el texto sea negrita */
    padding: 10px; /* Espaciado interno para un mejor diseño */
    display: block; /* Asegura que el label se comporte como un bloque */
    margin: 0 auto; /* Centra el label dentro de su contenedor */
    width: fit-content; /* Ajusta el ancho del label al contenido */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), -1px -1px 2px rgba(243, 72, 4, 0.5); /* Sombra del texto para efecto 3D */
}


.alumnos-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos internamente verticalmente */
    align-items: center; /* Centra los elementos internamente horizontalmente */
    border-radius: 6px;
    max-width: 90%;
    height: 75%;
    width: 80%;
    padding: 20px;
    transition: max-width 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(253, 87, 46, 1), rgba(253, 87, 46, 0.767), rgba(253, 87, 46, 0));
    /* Gradiente desde #fd572ea2 (opaco) hasta transparente */ /* Fondo con color sólido semi-transparente */
    
}


.alumnos-table{
    overflow: auto;
    width: 90%;
    height: 100%;
    
}
.simplebar-track.simplebar-vertical {
    opacity: 0;
}



.alumnos-table h4{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
    border-top: #b24226 3px solid;
    
}

.alumnos-table table {
    
    width: 100%;
    border-collapse: collapse;
}




.table th {
    
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    
}

.table td {
    
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: medium;
}

.table input{
    background: #b24226;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: medium;
}

.table input[type="number"]::-webkit-outer-spin-button,
.table input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botonotas {
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    display: flex;
}

.alumnos-table .botonguardar {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    height: 10%;
    scale: 1.5;
    outline: none;
    border: none;
    transition: scale(0.3s) ease-in;
    cursor: pointer;
}

.botonguardar:hover{
    scale: 1.8;
}

 tr{
    border-bottom: #b24226 3px solid;
}

@media (max-width: 1200px) {
    .alumnos-table {
        width: 95%;
    }

    .table input {
        width: 25%;
        font-size: small;
    }

    .botonguardar {
        height: 15%;
        scale: 1.3;
    }
}

@media (max-width: 992px) {
    .alumnos-table h4 {
        font-size: 1.2em;
    }

    .table th {
        font-size: medium;
    }

    .table td {
        font-size: small;
    }

    .table input {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .alumnos-table h4 {
        font-size: 1em;
    }

    .table th {
        font-size: small;
    }

    .table td {
        font-size: smaller;
    }

    .table input {
        padding: 3%;
        width: 45%;
        height: 45%;
        font-size: medium;
    }

    .botonguardar {
        height: 20%;
        scale: 1.2;
    }
}

@media (max-width: 576px) {
    .alumnos-table {
        width: 100%;
    }

    .table input {
        width: 50%;
        height: 50%;
        font-size: small;
    }

    .botonguardar {
        height: 25%;
        scale: 1;
    }
}






.nombre_prof {
    background: linear-gradient(135deg, #ff5340,#e74c3c, #771005, #000000); /* Gradiente de color de fondo */
    -webkit-background-clip: text; /* Clip del fondo para el texto (webkit) */
    background-clip: text; /* Clip del fondo para el texto */
    color: transparent; /* Hacer el color del texto transparente para mostrar el gradiente */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 3em; /* Tamaño de la letra grande */
    font-weight: bold; /* Hace que el texto sea negrita */
    padding: 10px; /* Espaciado interno para un mejor diseño */
    display: block; /* Asegura que el label se comporte como un bloque */
    margin: 0 auto; /* Centra el label dentro de su contenedor */
    width: fit-content; /* Ajusta el ancho del label al contenido */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), -1px -1px 2px rgba(243, 72, 4, 0.5); /* Sombra del texto para efecto 3D */
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  .btn-start {
    background: linear-gradient(145deg, #ff5e62, #ff9966); /* Gradiente de fondo vibrante */
    color: white; /* Color de texto */
    padding: 12px 24px; /* Relleno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 18px; /* Tamaño de la fuente más grande */
    font-weight: bold; /* Fuente en negrita */
    margin: 10px; /* Márgenes */
    cursor: pointer; /* Cursor de puntero */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    position: relative; /* Necesario para el efecto de onda */
    overflow: hidden; /* Para ocultar la animación de onda */
  }
  
  .btn-start::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple 1s ease-out;
    pointer-events: none; /* Asegura que el efecto no interfiera con los clics */
  }
  
  .btn-start:hover {
    background: linear-gradient(145deg, #ff9966, #ff5e62); /* Gradiente invertido al pasar el cursor */
    transform: scale(1.1); /* Efecto de escala */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
    animation: glow 1.5s infinite; /* Animación de resplandor */
  }
  
  .btn-start:active {
    background: linear-gradient(145deg, #cc3d2f, #e86a55); /* Gradiente más oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de escala al hacer clic */
    animation: none; /* Desactivar animación al hacer clic */
  }
  
  .admin-panel-btn {
    position: fixed; /* Fijo en la página */
    top: 10px; /* A 10px de la parte superior */
    right: 10px; /* A 10px de la derecha */
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
  }

  .table1-wrapper {
    max-height: 400px; /* Ajusta el alto máximo según sea necesario */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.table1 {
    width: 100%;
    border-collapse: collapse; /* Opcional, para bordes colapsados */
}

.table1 th, .table1 td {
    text-align: left;
    padding: 8px;
}
