<div>
    <div>
        <div class="navigation" id="navbarNav">
            {% if request.user.is_authenticated %}
            
            <div class="navlistbar">
                <ul>
                    
                    <li>
                        <a href="{% url 'admin:index' %}">
                            <i class="material-icons">dashboard</i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'perfil' %}">
                            <i class="material-icons">person</i>
                        </a>

                       
                    </li>
                    
                </ul>
            </div>
            
            {% endif %}
        </div>

    </div>
</div>
