<div id="navbarNav" style="display: flex; justify-content: flex-end;">
    {% if request.user.is_authenticated %}
    <form>
        <div class="searchflex">
            <input class="searchbar" type="text" placeholder="Buscar...">
            <button class="searchbutton" type="submit">
                <i class="material-icons">search</i>
            </button>
        </div>
    </form>
    <div class="navlistbar" style="display: flex;">
        <ul>
            
            <li>
                <a href="#pablo">
                    <i class="material-icons">dashboard</i>
                </a>
            </li>
            <li>
                <a href="#" id="profileDropdown">
                    <i class="material-icons">person</i>
                </a>
                <div aria-labelledby="profileDropdown">
                    <a href="/perfil.html">Perfil</a>
                    
                    <a href="{% url 'logout' %}">Salir</a>
                </div>
            </li>
            <li>
                <a href="#" id="notificationsDropdown">
                    <i class="material-icons">notifications</i>
                    <span>2</span>
                </a>
                <div aria-labelledby="notificationsDropdown">
                    <a href="#">Tienes tus notas listas</a>
                    <a href="#">Puedes realizar tu test Vocacional</a>
                </div>
            </li>
        </ul>
    </div>
    
    {% endif %}
</div>
