<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/logoCSA.png">
  <link rel="icon" type="image/png" href="/static/assets/img/logoCSA.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-material">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />

  {% load static %}
  <!-- CSS Files -->



  <link rel="stylesheet" type="text/css" href="{% static 'css/customstyles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
  <!-- or -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
  <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
</head>

<body class="background">

  <div id="loading-screen1">
    <img class="logo-img" src="{% static 'css/loginbg.png' %}" alt="logo">
    <img class="loader" src="{% static 'css/loading/loading.svg' %}" alt="Cargando...">
    <p id="loading-screen">Cargando...</p>
  </div>
  <div id="content" style="display:none;">
    {% if not request.user.is_authenticated %}
    <img class="loginbg" src="{% static 'css/1.svg' %}" alt="logo">
    <img class="loginbg" src="{% static 'css/1.svg' %}" alt="logo">
    <img class="loginbg" src="{% static 'css/2.svg' %}" alt="logo">
    <img class="loginbg" src="{% static 'css/2.svg' %}" alt="logo">
    <img class="loginbg" src="{% static 'css/3.svg' %}" alt="logo">
    <img class="loginbg" src="{% static 'css/3.svg' %}" alt="logo">
    <img class="logo-img" src="{% static 'css/loginbg.png' %}" alt="logo">
    {% endif %}
    
    <div>


      <div class="wrapper ">



        <div>
          {% if user.is_authenticated %}
          {% include 'includes/sidebar.html' %}
          {% endif %}
          {% include 'includes/navigation.html' %}

          <!-- End Navbar -->
          <div>
            <div>

              {% block content %}{% endblock content %}

            </div>
          </div>
        </div>

        {% include 'includes/footer.html' %}

      </div>
    </div>


  </div>



  <script type="module" src="{% static 'css/blob.js' %}" defer></script>

</body>

</html>