{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<body class="bodylogin" style="overflow: hidden;">
  <div class="login-panel">
    <div class="">
      <div class="">
        <div class="title-cointainer">
          <h4 class="titulo">
            Conectate!
          </h4>
          <h4 class="texto">
            {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
            {% else %}
            Inicia sesión para continuar
            {% endif %}
          </h4>
        </div>
        <div class="">



          <br />

          <form role="form" method="post" action="">

            {% csrf_token %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="textol">Correo Electronico</label>
                  {{ form.username }}
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="textol">Contraseña</label>
                  {{ form.password }}

                </div>
                <a class="textol1">¿Haz olvidado tu contraseña?</a>
              </div>

            </div>

            <br />
            <div>
              <button type="submit" name="login" class="botonlogin" id="login-button">Iniciar sesión!</button>

            </div>



            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}