{% extends "layouts/base.html" %}
{% block title %} Alumnos {% endblock %} 
{% block content %}
    <h1>Lista de Alumnos</h1>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Alumnos{{ añocursos.fecha }}</h4>
              {% if seccion %}
                  <p class="card-category">{{ seccion }}</p>
              {% else %}
                  <p>No se ha seleccionado ningún año.</p>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Nombres
                    </th>
                    <th>
                      Apellidos
                    </th>
                    <th>
                      Direccion
                    </th>
                    <th>
                      Numero apoderado
                    </th>
                  </thead>
                  {% for alumno in alumnos %}
                  <tbody>
                    <tr>
                      <td>
                        {{ alumno.id_alumno }}
                      </td>
                      <td>
                        {{ alumno.p_nombre|capfirst }} {% if alumno.s_nombre %}{{ alumno.s_nombre|capfirst }}{% endif %}
                      </td>
                      <td>
                        {{ alumno.apellido_pat|capfirst }} {{ alumno.apellido_mat|capfirst }}
                      </td>
                      <td>
                        {{ alumno.direccion|capfirst }}
                      </td>
                      <td class="text-primary">
                        {{ alumno.numero_apoderado }}
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}