{% extends "layouts/base.html" %}

{% block title %} Análisis de notas {% endblock %}

{% block content %}
    <h1>Análisis de Notas</h1>
    <table>
        <thead>
            <tr>
                <th>Materia</th>
                <th>Notas</th>
                <th>Promedio</th>
                <th>Tendencia</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos_materias %}
            <tr>
                <td>{{ dato.materia }}</td>
                <td>{{ dato.notas|join:", " }}</td>
                <td>{{ dato.promedio }}</td>
                <td>{{ dato.tendencia }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Promedio general: {{ promedio_general }}</p>
    {% if mejor_materia %}
        <p>Mejor materia según las notas: {{ mejor_materia }}</p>
    {% else %}
        <p>No hay datos suficientes para determinar la mejor materia.</p>
    {% endif %}
    <h2>Listado de materias de mejor a peor promedio:</h2>
    <ul>
        {% for dato in materias_ordenadas %}
        <li>{{ dato.materia }}: {{ dato.promedio }}</li>
        {% endfor %}
    </ul>
    <div class="button-container">
        <a href="{% url 'notasal' %}" class="button">Registrar Nueva Nota</a>
    </div>
{% endblock content %}
