{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body>
  <div id="profile-page"  class="perfil-page">
    <div class="profile-container" id="profile-container">
      <div class="profile-content">
        <button id="edit-profile-btn" class="material-icons">edit</button>
        
        <div class="profile-info">
          <img class="profile-pic" src="/static/css/images/perfil.jpg" alt="Avatar">
          <div class="profile-info-details">
            <br>
            <h4>Ejemplo</h4>
            <p>email@ejemplo.com</p>
            <h4>{{ current_user.username }}</h4>
            <p>{{ current_user.email }}</p>
          </div>
        </div>
        
      </div>
      <div>
        <div class="parent-container" data-simplebar id="parent-container">
          
            <form class="form-editor-profile">
              <div>
                <label>UserID (disabled)</label>
                <input type="text" disabled value="{{ current_user.id }}">
              </div>
              <div>
                <label>Nombre de Usuario</label>
                <input type="text" value="{{ current_user.username }}">
              </div>
              <div>
                <label>Correo electronico</label>
                <input type="email" value="{{ current_user.email }}">
              </div>
              <div>
                <label>Nombres</label>
                <input type="text">
              </div>
              <div>
                <label>Apellidos</label>
                <input type="text">
              </div>
              <div>
                <label>Dirección</label>
                <input type="text">
              </div>
              <div>
                <label>Ciudad</label>
                <input type="text">
              </div>
              <div>
                <label>Pais</label>
                <input type="text">
              </div>
              <div>
                <label>Numero Postal</label>
                <input type="text">
              </div>
              <div>
                <label>Acerca de </label>
                <textarea rows="5">Profesor de matematicas</textarea>
              </div>
              <div class="button-container"><button class="guardar-button" type="submit">Actualizar perfil</button></div>
              
            </form>
          </div>
      
      </div>
    </div>
  </div>

</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}